<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Microservice Based E-commerce System</title>
</head>
<body>
   <h1>Welcome to my E-commerce site</h1>
   <a href="login">Login</a>&nbsp;&nbsp;&nbsp;<a href="register">Register</a><br>
   <b th:text="${msg}"></b>
</body>
</html>