<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration For Microservice Based E commerce</title>
</head>
<body>
<a href="/">Home Page</a>
   <form action="register" method="post" th:object="${user}">
      <b>User Name</b><input type="text" th:field="*{username}"/><br/>
       <b>Password</b><input type="password" th:field="*{password}"/><br/>
       <b>FirstName</b><input type="text" th:field="*{firstName}"/><br/>
       <b>lastName</b><input type="text" th:field="*{lastName}"/><br/>
       <b>address</b><input type="text" th:field="*{address}"/><br/>
       <button type="submit">Register</button>
   </form>
   <b th:text="${msg}"></b>
</body>
</html>